.float_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 100;

  &:is([data-type="bar"]):is([data-bar-hidden="true"]){
    display: none;
  }
  
  &:is([data-type="bar"]){
    transform: unset !important;
    top: unset;
    bottom: 0px;
    width: 100%;
  }
}
