<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragoid | Page Not Found</title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/notfound.css">
  <link rel="shortcut icon" href="<%=favicon_path%>" type="image/svg">
</head>

<body>
  <script>
    (function () {
      const isConfig = window.localStorage.getItem('chapter-style');
      const isDarkModePref = window.matchMedia('(prefers-color-scheme: dark)').matches
      const root = document.documentElement;

      if (!isConfig && !isDarkModePref) {
        root.classList.add('light')
        root.classList.remove('dark')
        return;
      }

      const { isDarkMode } = isConfig ? JSON.parse(isConfig) : {}

      if (typeof isDarkMode === 'undefined') {
        if (!isDarkModePref) {
          root.classList.add('light')
          root.classList.remove('dark')
        }
        return;
      }

      if (isDarkMode === false) {
        root.classList.add('light')
        root.classList.remove('dark')
      }
    }())
  </script>
  <main class="notFound">
    <h1>Page not found</h1>
    <a href="/">Back to homepage</a>
  </main>
</body>

</html>