<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragoid | Page Not Found</title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="shortcut icon" href="<%=favicon_path%>" type="image/svg">
</head>

<body>
  <main class="notFound">
    <h1>Page not found</h1>
    <a href="/">Back to homepage</a>
  </main>
</body>

</html>