.button {
  background: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 4px;

  padding: 0px 24px;
  flex-grow: 1;
  outline: none;
  box-shadow: none;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: fit-content;
}

.container_values {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: fit-content;
  max-height: 400px;
  overflow-y: auto;
  min-height: 0;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0px 4px;
  border: 2px;

  & .save {
    width: 100%;
    background: hsla(214, 89%, 62%, 90%);
    height: 42px;

    &:hover {
      opacity: 0.8;
    }
  }

  & .error {
    display: flex;
    width: 100%;
    color: #F67683;
    flex-shrink: 0;
    min-height: 32px;
    align-items: center;
    word-break: break-all;
  }


  &>div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    height: fit-content;

    @media screen and (max-width: 575px) {
      & {
        flex-direction: column;
      }

      & .divider {
        display: none;
      }

      & .button.btn_delete {
        width: 100%;
      }
    }

    & input {
      background: none;
      height: 42px;
      border: 1px solid hsl(0, 0%, 18%);
      outline: none;
      box-shadow: none;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0px 12px;
      width: 100%;
      border-radius: 4px;
    }

    & button:not(.save) {
      width: 42px;
      min-width: unset;
      max-width: unset;
      height: 42px;
      color: #111;
      background-color: #F67683;
      padding: 0px;
      flex-grow: 0;
      flex-shrink: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}



.form_actions {
  width: 100%;
  display: flex;
  justify-content: space-between;

  gap: 12px;

  & button {
    height: 42px;
    max-width: 140px;
  }

  & button:first-child {
    background: transparent;
    border: 1px solid hsl(0, 0%, 18%);

    &:hover {
      background: hsl(0, 0%, 18%);
    }
  }

  & button:last-child {
    background: hsla(214, 89%, 62%, 90%);

    &:hover {
      opacity: 0.8;
    }
  }
}