.modal_wrapper {
  width: min(580px, calc(100% - 32px));
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}