.spinner {
  min-width: 16px;
  min-height: 16px;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: block;
  max-width: 18px;

  &:is([data-variant="primary"]) {

    &::before,
    &::after {
      border: 3px solid #1f1f1f;
    }

    &::after {
      border-color: #1f1f1fcc;
    }
  }

  &:is([data-variant="secondary"]) {

    &::before,
    &::after {
      border: 3px solid #e5e5e5;
    }

    &::after {
      border-color: #e5e5e5cc;
    }
  }
}

.spinner::before,
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  animation: prixClipFix 2s linear infinite;
}

.spinner::after {
  transform: rotate3d(90, 90, 0, 180deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}