/* Chapter Style */
:root {
  --font-size: 1.6rem;
  --line-height: 3rem;
  --paragraph-gap: 2.4rem;
}

.page section {
  padding: 32px 0px;
  width: calc(100% - 64px);
  margin: 0 auto;

  & h1 {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }
}

body>.header {
  width: 100%;
  margin: 24px auto;
  padding: 32px 24px;
  width: min(736px, calc(100% - 32px));
  border-radius: 32px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAAXNSR0IArs4c6QAAAWlJREFUeNqlloFtwzAMBFU0PxF34k5eoUtktBZVnBysixEEUWBD+idpUnrTGXNkhPvt18awXZjKyE5BE5ix8sw6IEQHfKA1kZoMF5ZNnndqy1k2vae+wTAjMBPIp+sY3QJP1JADaXtvFjv4LR1TFKA5GD4suFSQcGEhjPWRn2+zKpRLT0hBwSo3lRerdpScpbMQCgZS2cH4tHQwerJVPIQjUVBH9wFTPOMgxnRwObhWLLkKlpaJA8TnpDxBwEv1r8Uo+ImegDVX4DBXKKWt3mQnZRRMlxZ7vfxDra6j0vD8vKUtKvJ79Pt1X9W6XxZNTvphhYxcGEjneWncGVH3pM2kAs6Qlq4XDIus4x2qDKieYEsz0nTAYd96MelYZEEgElZxnJtEa4mefZpr7hHGsLLmS2uDVgPGEUadgBxwrn3zwRwGhkU2NVqy6fUEbRs1CruoCM5zlPaIIL6/biLs0edft/d7IfjhT9gfL6wnSxDYPyIAAAAASUVORK5CYII=);
  background-attachment: scroll;
  background-color: #111;
  color: #ffffff99;

  & a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  & .bradcrumb {
    display: flex;
    align-items: center;
    gap: 8px;

    & *:first-child {
      flex-shrink: 0;
    }

    & span {
      width: fit-content;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--paragraph-gap);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #ffffff99;
}





/* Dialog */

.dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  backdrop-filter: blur(3px);
  opacity: 1;
  transition: opacity 300ms linear;


  &[data-hidden=true] {
    display: none;
    opacity: 0;
  }

  &[data-hidden=true] .inner {
    animation: showout 300ms linear forwards;
  }

  & .inner {
    padding: 24px;
    border-radius: 8px;
    background: #0f0f0f;
    border: 1px solid #2f2f2f;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 320px;

    animation: showin 150ms linear forwards;
  }
}



.dialog-header,
.dialog-content,
.dialog-footer {
  display: flex;
}

.dialog-header {
  justify-content: space-between;

  & h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  & button {
    color: #3f3f3f;
    background: none;
    cursor: pointer;
    border: none;

    &:hover {
      color: #7f7f7f;
    }
  }
}

.dialog-content {
  flex-direction: column;
  gap: 1.6rem;

  & .group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  & label {
    font-size: 1.6rem;
  }

  & select {
    width: 100%;
    height: 36px;
    padding-left: 8px;
    background: transparent;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    color: #7f7f7f;
    cursor: pointer;

    & option {
      background: #0f0f0f;
      color: #7f7f7f;
      border: 1px solid #3f3f3f;
      height: 32px;
    }

    &:focus,
    &:active,
    &:focus-within {
      outline: none;
    }
  }
}

.dialog-footer {
  justify-content: flex-end;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 140px;
    border-radius: 6px;
    border: none;
    background: #fff;
    color: #1f1f1f;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;

    &:hover {
      opacity: 0.9
    }
  }
}

/* 
===================
CHAPTER LIST
===================
*/

.dialog-chapter-list {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 1;
  transition: opacity 300ms linear;


  &[data-hidden=true] {
    display: none;
    opacity: 0;
  }

  &[data-hidden=true] .inner {
    animation: showout 300ms linear forwards;
  }

  & .inner-dialog {
    padding: 24px;
    border-radius: 8px;
    background: #0f0f0f;
    border: 1px solid #2f2f2f;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: min(720px, calc(100% - 32px));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: showin 150ms linear forwards;
  }

  & .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 12px;

    & h3 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    & .group {
      display: flex;
      gap: 6px;
      align-items: center;
    }

    & .chapter_qtd {
      padding: 2px 4px;
      background: #333;
      border-radius: 4px;
      font-size: 1.3rem;
      font-weight: 600;
    }

    & button {
      color: #3f3f3f;
      background: none;
      cursor: pointer;
      border: none;

      &:hover {
        color: #7f7f7f;
      }
    }
  }

  & .content {
    height: 420px;
  }

  & .content ul {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 100%;
    height: auto;
    list-style: none;
    gap: 16px;
    padding-bottom: 16px;

    & li {
      display: flex;
      width: calc(100% / 2 - 8px);
      flex-shrink: 0;
      height: 44px;
      overflow: hidden;
      align-items: center;
      border-radius: 8px;
      padding-left: 12px;
      background: #151515;
    }

    & a {
      color: inherit;
      text-decoration: none;
      font-size: 1.6rem;
      transition: 250ms ease-in-out;

      width: fit-content;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &[data-active=true] {
        color: #9b59b6;
        opacity: 1;
        cursor: default;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        pointer-events: none;
      }

      /* For hidden texto overflow on translated by google */
      & font {
        width: fit-content;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: 580px) {
  .dialog-chapter-list .content ul {
    & li {
      width: 100%;
    }
  }
}



/* 
===================
NAVIGATION
===================
*/

@media (min-width: 581px) {
  .navigation {
    margin-top: 64px;
    display: flex;
    width: 100%;
    height: 54px;
    border-radius: 28px;
    background: #1f1f1f;
    overflow: hidden;
    align-items: center;
    display: flex !important;

    & .divider {
      height: calc(50%);
      width: 2px;
      background: #2f2f2f;
    }

    & a,
    & .option {
      width: calc((100% / 2) - 2px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #aaa;
      text-decoration: none;
      cursor: pointer;
      transition: 300ms linear;
      background: transparent;
      border: none;

      &:hover {
        background: #2f2f2f;
        color: #ddd;
      }

      &[data-disabled="true"] {
        cursor: default;
        user-select: none;
        pointer-events: none;
        color: #666;

        &:hover {
          background: transparent;
          color: #666;
        }
      }
    }
  }

  .floating-navigation {
    position: fixed;
    top: calc(100vh / 4);
    right: calc(((100vw - 736px) - 100vw / 4) - 64px);
    background: #1f1f1f;
    height: fit-content;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;

    & .option {
      text-decoration: none;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #aaa;
      height: 54px;
      padding: 0px 32px;
      background: transparent;
      border: none;
      cursor: pointer;

      &:nth-child(even) {
        border-top: 1px solid #333;

        &:not(:last-child) {
          border-bottom: 1px solid #333;
        }
      }

      & span {
        display: none;
      }

      &:hover {
        background: #2f2f2f;
        color: #ddd;
      }

      &[data-disabled="true"] {
        cursor: default;
        user-select: none;
        pointer-events: none;
        color: #666;

        &:hover {
          background: transparent;
          color: #666;
        }
      }

    }
  }
}

@media (max-width: 580px) {
  .navigation {
    margin-top: 64px;
    display: flex;
    width: 100%;
    height: 54px;
    border-radius: 28px;
    background: #1f1f1f;
    overflow: hidden;
    align-items: center;
    display: flex !important;
    justify-content: center;

    & .divider {
      height: calc(50%);
      width: 2px;
      background: #2f2f2f;
      margin: 0px 2px;
    }

    & a,
    & .option {
      width: calc((100% / 3) - 2px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #aaa;
      text-decoration: none;
      cursor: pointer;
      transition: 300ms linear;
      background: transparent;
      border: none;
      text-align: center;
      flex-grow: 1;

      &:is(button) {
        max-width: 54px;
        flex-grow: 0;
      }

      &:hover {
        background: #2f2f2f;
        color: #ddd;
      }

      &[data-disabled="true"] {
        cursor: default;
        user-select: none;
        pointer-events: none;
        color: #666;

        &:hover {
          background: transparent;
          color: #666;
        }
      }
    }
  }

  .floating-navigation {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #1f1f1f;
    width: 100vw;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    height: 54px;
    display: flex;
    align-items: center;
    display: none;

    & .option {
      text-decoration: none;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #aaa;
      height: 54px;
      padding: 0px;
      background: transparent;
      border: none;
      cursor: pointer;

      &.a svg {
        display: none;
      }

      &:hover {
        background: #2f2f2f;
        color: #ddd;
      }

      &[data-disabled="true"] {
        cursor: default;
        user-select: none;
        pointer-events: none;
        color: #666;

        &:hover {
          background: transparent;
          color: #666;
        }
      }

    }
  }
}


@keyframes showin {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes showout {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}




