:root {
  --color-bright-green: hsl(140, 79%, 62%);
  --color-primary: #0593d4;
  --color-black: #000000;
  --color-dark-100: #0a0a0a;
  --color-dark-200: #0f0f0f;
  --color-dark-300: #090909;
  --color-dark-400: #111111;
  --color-dark-500: #121212;
  --color-dark-600: #151515;
  --color-dark-700: #1f1f1f;
  --color-dark-800: #222222;
  --color-dark-900: #2f2f2f;
  --color-dark-1000: #333333;
  --color-dark-1100: #3f3f3f;

  --color-gray-100: #666666;
  --color-gray-200: #6f6f6f;
  --color-gray-300: #7f7f7f;
  --color-gray-400: #888888;
  --color-gray-500: #999999;
  --color-gray-600: #aaaaaa;
  --color-gray-700: #afafaf;
  --color-gray-800: #ccc;

  --color-light-100: #dddddd;
  --color-light-200: #efefef;
  --color-light-300: #f1f1f1;
  --color-light-400: #ffffff99;
  --color-white: #ffffff;
}