:root {
    --chapter-font-primary: "merriweather sans";
    --chapter-font-secondary: "nunito sans";
    --chapter-font-current: var(--chapter-font-primary)
}

@font-face {
    font-family: 'nunito sans';
    src: url(/assets/fonts/nunito-sans.ttf) format('truetype');
}

@font-face {
    font-family: 'merriweather sans';
    src: url(/assets/fonts/merriweather.ttf) format('truetype');
}