
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  z-index: 1000;

  &[data-hidden=true]{
    display: none;
  }
}


.modal .wrapper {
  padding: 24px;
  border-radius: 8px;
  background: #0f0f0f;
  border: 1px solid #2f2f2f;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min(550px, calc(100% - 32px));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: showin 150ms linear forwards;
}

@media screen and (max-width: 540px) {
  .modal .wrapper {
    padding: 24px 8px;
    width: min(550px, calc(100% - 16px));
  }
}

.modal .wrapper .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #1f1f1f;

  & .title {
    font-weight: 400;
    font-size: 1.8rem;
  }

  & button {
    background: none;
    border: none;
    cursor: pointer;
    color: #2f2f2f;
    cursor: pointer;

    &:hover {
      color: #999;
    }
  }
}