/** 
 * DASHBOARD - Responsavel por criar/exibir as listas
 */
.dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.dashboard .button {
  width: max-content;
  flex-grow: 1;
  height: 40px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0px;
}

/* Create List Container */
.dashboard .container-create-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  & .upload-error-message {
    --p-error-message-background: var(--color-red-400);
    --p-error-message-color: var(--color-red-700);
    --p-error-message-btn-color: var(--color-red-700);

    background-color: var(--p-error-message-background);
    border-radius: 4px;
    color: var(--p-error-message-color);
    padding: 12px;
    padding-right: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: var(--p-error-message-btn-color);
      width: 34px;
      height: 34px;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    & button svg {
      width: 18px;
      height: 18px;
    }
  }
}

.dashboard .container-create-list .container-form {
  --p-form-input-background: var(--color-dark-600);
  --p-form-input-border-color: var(--color-dark-700);
  --p-form-input-color: var(--color-white);
  --p-form-input-placeholder-color: hsla(0, 0%, 100%, 40%);
  --p-form-input-background-invalid: #140505;
  --p-form-input-border-color-invalid: #350E0E;
  --p-form-error-message: var(--color-red-700);

  &:is(.light) {
    --p-form-input-background: transparent;
    --p-form-input-color: var(--color-dark-700);
    --p-form-input-placeholder-color: var(--color-gray-600);
    --p-form-input-border-color: var(--color-gray-800);
    --p-form-input-border-color-invalid: #ccbbbb;
    --p-form-input-background-invalid: #ffeeee;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  & input {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background: var(--p-form-input-background);
    border: 1px solid var(--p-form-input-border-color);
    color: var(--p-form-input-color);
    padding-left: 16px;
    font-size: 1.6rem;

    &:is(.invalid) {
      background-color: var(--p-form-input-background-invalid);
      border-color: var(--p-form-input-border-color-invalid);
    }

    &::placeholder {
      color: var(--p-form-input-placeholder-color);
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  & .error-message {
    color: var(--p-form-error-message);
    font-size: 1.4rem;
    transform: translateY(-6px);
  }
}

.dashboard .container-create-list .container-form .group-actions {
  --p-btn-save-background: var(--color-blue-300);
  --p-btn-save-color: var(--color-white);
  --p-btn-save-border-color: var(--color-blue-300);
  --p-btn-save-background-hover: var(--color-blue-400);

  --p-btn-cancel-background: transparent;
  --p-btn-cancel-border-color: var(--color-dark-700);
  --p-btn-cancel-color: hsla(0, 0%, 100%, 80%);
  --p-btn-cancel-background-hover: var(--color-dark-600);

  &:is(.light) {
    --p-btn-cancel-border-color: var(--color-gray-700);
    --p-btn-cancel-color: var(--color-gray-100);
    --p-btn-cancel-background-hover: var(--color-light-400);
  }

  display: flex;
  gap: 12px;

  & .button:is(.button-save) {
    background: var(--p-btn-save-background);
    color: var(--p-btn-save-color);
    border-color: var(--p-btn-save-border-color);

    &:hover {
      background: var(--p-btn-save-background-hover);
    }
  }

  & .button:is(.button-cancel) {
    background: var(--p-btn-cancel-background);
    border-color: var(--p-btn-cancel-border-color);
    color: var(--p-btn-cancel-color);

    &:hover {
      background: var(--p-btn-cancel-background-hover);
    }
  }
}

.dashboard .container-create-list .container-trigger {
  --p-btn-add-background: var(--color-blue-300);
  --p-btn-add-color: var(--color-white);
  --p-btn-add-border-color: var(--color-blue-300);
  --p-btn-add-background-hover: var(--color-blue-400);
  --p-btn-upload-background: transparent;
  --p-btn-upload-border-color: var(--color-dark-700);
  --p-btn-upload-color: hsla(0, 0%, 100%, 80%);
  --p-btn-upload-background-hover: var(--color-dark-600);

  &:is(.light) {
    --p-btn-upload-border-color: var(--color-gray-800);
    --p-btn-upload-color: var(--color-gray-100);
    --p-btn-upload-background-hover: var(--color-light-400)
  }

  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  & .button:is(.button-add) {
    background: var(--p-btn-add-background);
    color: var(--p-btn-add-color);
    border-color: var(--p-btn-add-border-color);

    &:hover {
      background: var(--p-btn-add-background-hover);
    }
  }

  /* Fake button (label(input)) */
  & .button:is(.button-upload) {
    background: var(--p-btn-upload-background);
    border-color: var(--p-btn-upload-border-color);
    color: var(--p-btn-upload-color);
    width: max(150px, 35%);
    flex-grow: 0;

    & input {
      display: none;
    }

    &:hover {
      background: var(--p-btn-upload-background-hover);
    }
  }
}


/* Overview list */
.dashboard .container-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  width: 100%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px 0px;
  padding-left: 0px;
}

.dashboard .container-list .empty-message {
  --p-message-empty-color: var(--color-gray-700);
  --p-message-empty-background: var(--color-dark-400);

  &:is(.light) {
    --p-message-empty-color: var(--color-gray-100);
    --p-message-empty-background: var(--color-light-400);
  }

  border-radius: 4px;
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--p-message-empty-color);
  justify-content: center;
  background: var(--p-message-empty-background);
}

.dashboard .container-list .list-item {
  --p-item-background: transparent;
  --p-item-border-color: var(--color-dark-700);
  --p-item-background-hover: var(--color-dark-500);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 8px;
  border: 1px solid var(--p-item-border-color);
  border-radius: 6px;
  background: var(--p-item-background);

  &:is(.light) {
    --p-item-border-color: var(--color-gray-800);
    --p-item-background-hover: var(--color-light-400);
  }

  &:hover {
    background: var(--p-item-background-hover);
  }
}

.dashboard .container-list .list-item .container-heading {
  width: 100%;

  & .title {
    width: 100%;
    font-weight: 400;
    text-transform: capitalize;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.dashboard .container-list .list-item .container-actions {
  --p-btn-background: transparent;
  --p-btn-border-color: var(--color-dark-700);
  --p-btn-color: hsla(0, 0%, 100%, 80%);
  --p-btn-color-hover: hsla(0, 0%, 100%, 80%);
  --p-btn-background-hover: var(--color-dark-600);

  &:is(.light) {
    --p-btn-border-color: var(--color-gray-700);
    --p-btn-color: var(--color-dark-1100);
    --p-btn-color-hover: var(--color-dark-700);
    --p-btn-background-hover: var(--color-light-100);
  }

  display: flex;
  justify-content: space-between;
  gap: 12px;

  & .button {
    background: var(--p-btn-background);
    border-color: var(--p-btn-border-color);
    color: var(--p-btn-color);
    font-weight: 400;

    & svg {
      stroke-width: 1.7px;
      width: 20px;
      height: 20px;
    }

    & span {
      display: none;

      @media (min-width: 390px) {
        position: relative;
        top: -0.1px;
      }
    }



    &:last-child {
      height: 40px;
    }

    &:hover {
      background: var(--p-btn-background-hover);
      color: var(--p-btn-color-hover);
    }
  }
}

.dashboard .container-list .list-item .container-actions .button-select {
  --p-select-input-border-color: var(--color-dark-900);
  --p-select-input-border-color-hover: var(--color-blue-400);
  --p-select-input-before-background: var(--color-dark-900);
  --p-select-input-before-background-hover: var(--color-blue-400);

  &:is(.light) {
    --p-select-input-border-color: var(--color-gray-400);
    --p-select-input-before-background: var(--color-gray-400);
  }

  position: relative;
  max-width: 40px;

  & input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    position: relative;
    background: transparent;
    border: 2px solid var(--p-select-input-border-color);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 18px;
    height: 18px;

    &:checked {
      border-color: var(--p-select-input-border-color-hover);
    }
  }

  & input::before {
    background: var(--p-select-input-before-background);
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & input:checked::before {
    background: var(--p-select-input-before-background-hover);
  }
}




/** 
 * Editor - responsavel por adicionar/remover termos
 */

.editor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.editor .editor-form {
  --p-btn-add-background: var(--color-blue-300);
  --p-btn-add-color: var(--color-white);
  --p-btn-background: var(--color-blue-400);
  width: 100%;
  display: flex;
  flex-direction: column;

  & .btn-add {
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 40px;
    gap: 6px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    background: var(--p-btn-add-background);
    border: 0;
    color: var(--p-btn-add-color);
    font-size: 1.6rem;

    &:hover {
      background-color: var(--p-btn-background);
    }
  }
}

.editor .editor-form .wrapper {
  --p-message-empty-color: var(--color-gray-700);
  --p-message-empty-background: var(--color-dark-400);

  &:is(.light) {
    --p-message-empty-color: var(--color-gray-100);
    --p-message-empty-background: var(--color-light-400);
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  max-height: 370px;
  overflow-x: hidden;
  overflow-y: auto;

  & .empty {
    padding: 12px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--p-message-empty-color);
    justify-content: center;
    background: var(--p-message-empty-background);
  }
}

.editor .editor-form .wrapper .group-input {
  --form-input-background: var(--color-dark-400);
  --form-input-border-color: var(--color-dark-700);
  --form-input-color: var(--color-white);
  --form-input-border-color-invalid: var(--color-red-700);
  --form-input-border-color-focus: var(--color-blue-400);
  /* divider */
  --form-divider-color: var(--color-gray-400);
  /* delete */
  --form-btn-delete-color: var(--color-gray-400);
  --form-btn-delete-background: transparent;
  --form-btn-delete-border-color: var(--color-dark-700);
  --form-btn-delete-background-hover: var(--color-dark-600);
  --form-btn-delete-color-hover: var(--color-light-100);
  /* errorMessage */
  --form-message-error-color: var(--color-red-700);

  &:is(.light) {
    --form-input-background: transparent;
    --form-input-border-color: var(--color-gray-800);
    --form-input-color: var(--color-dark-700);

    --form-btn-delete-color: var(--color-gray-100);
    --form-btn-delete-background: transparent;
    --form-btn-delete-border-color: var(--color-gray-800);
    --form-btn-delete-background-hover: var(--color-light-400);
    --form-btn-delete-color-hover: var(--color-dark-1100);
  }

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  animation: show 300ms linear forwards;

  & input {
    height: 40px;
    width: auto;
    flex-grow: 1;
    border: 1px solid var(--form-input-border-color);
    background: var(--form-input-background);
    border-radius: 4px;
    color: var(--form-input-color);
    padding-left: 6px;
    font-size: 1.6rem;

    &::placeholder {
      text-transform: capitalize;
    }

    &:is(.invalid) {
      border: 1px solid var(--form-input-border-color-invalid);

      &:focus {
        outline: 0;
        box-shadow: 0;
      }
    }

    &:not(.invalid):focus {
      outline: 0;
      box-shadow: 0;
      border-color: var(--form-input-border-color-focus);
    }
  }

  & .divider {
    flex-shrink: 1;
    flex-grow: 0;
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    color: var(--form-divider-color);
  }

  & .btn-delete {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--form-btn-delete-background);
    color: var(--form-btn-delete-color);
    border: 1px solid var(--form-btn-delete-border-color);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      stroke-width: 1.7px;
    }

    &:hover {
      background-color: var(--form-btn-delete-background-hover);
      color: var(--form-btn-delete-color-hover);
    }
  }

  & .input-error-message {
    font-size: 1.4rem;
    color: var(--form-message-error-color);
    width: 100%;
    display: block;
    flex-shrink: 0;
    padding: 4px;
    border-radius: 4px;
  }
}

.editor .editor-actions {
  --p-button-color: var(--color-dark-700);
  --p-button-border-color: transparent;
  --p-button-background: var(--color-white);
  --p-button-background-disabled: var(--color-gray-100);
  --p-button-color-disabled: var(--color-gray-400);
  --p-button-back-border-color: var(--color-dark-700);
  --p-button-back-color: var(--color-white);
  --p-button-back-background-hover: var(--color-dark-600);
  --p-button-save-background-hover: var(--color-light-300);

  &:is(.light) {
    --p-button-color: var(--color-light-400);
    --p-button-border-color: transparent;
    --p-button-background: var(--color-dark-100);

    --p-button-background-disabled: var(--color-light-100);
    --p-button-color-disabled: var(--color-gray-700);

    --p-button-back-border-color: var(--color-gray-800);
    --p-button-back-color: var(--color-gray-100);
    --p-button-back-background-hover: var(--color-light-400);

    --p-button-save-background-hover: var(--color-dark-700);
  }

  width: 100%;
  display: flex;
  justify-content: space-between;

  & .button {
    height: 42px;
    width: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 4px;
    border: 1px solid var(--p-button-border-color);
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--p-button-background);
    color: var(--p-button-color);

    @media (min-width: 390px) {
      width: 140px;
    }

    @media (min-width: 410px) {
      width: 180px;
    }
  }

  & .button:is(:disabled) {
    user-select: none;
    pointer-events: none;
    cursor: default;
    background-color: var(--p-button-background-disabled);
    color: var(--p-button-color-disabled);
  }

  & .button:is(.button-back) {
    background-color: transparent;
    color: var(--p-button-back-color);
    border-color: var(--p-button-back-border-color);

    &:hover {
      background-color: var(--p-button-back-background-hover);
    }
  }

  & .button:is(.button-save):hover {
    background: var(--p-button-save-background-hover);
  }
}



@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}